<!doctype html>
<html lang="{{ app('lang') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ lang('manager.pinoox') }}</title>
    <link rel="icon" href="{{ assets('dist/images/logo-64.png') }}">
    <link rel="shortcut icon" href="{{ assets('dist/images/favicon.ico') }}">

    <script src="{{ url('dist/pinoox.js') }}"></script>
    {{ webpack_manifest('main.js') }}
    {{ webpack_manifest('main.css') }}
</head>
<body class="{{ _direction }}">
<div id="app"></div>
</body>
</html>