<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ t('default.setting_page') }}</title>

    <link rel="stylesheet" href="{{ assets('assets/css/style.css') }}">
</head>
<body class="rtl panel-container">

<div class="panel">

    <h2><?php lang('default.setting_page'); ?></h2>
    <form class="form" method="post" action="{{ url('panel') }}" enctype="application/json">
        <label>{{ t('default.title') }}</label>
        <input name="title" type="text" placeholder="{{ t('default.title') }}" value="{{ config('app.title') }}">
        <label>{{ t('default.description') }}</label>
        <textarea name="description" id="" cols="30" rows="5"
                  placeholder="{{ t('default.description') }}">{{ config('app.description') }}</textarea>

        <label>{{ t('default.twitter') }}</label>
        <input name="twitter" type="text" placeholder="{{ t('default.twitter') }}"
               value="{{ config('app.twitter') }}">
        <label>{{ t('default.instagram') }}</label>
        <input name="instagram" type="text" placeholder="{{ t('default.instagram') }}"
               value="{{ config('app.instagram') }}">
        <label>{{ t('default.telegram') }}</label>
        <input name="telegram" type="text" placeholder="{{ t('default.telegram') }}"
               value="{{ config('app.telegram') }}">
        <label>{{ t('default.linkedin') }}</label>
        <input name="linkedin" type="text" placeholder="{{ t('default.linkedin') }}"
               value="{{ config('app.linkedin') }}">

        <a href="{{ url() }}" class="btn white">{{ t('default.back') }}</a>
        <button type="submit" class="btn">{{ t('default.save') }}</button>
    </form>
</div>

</body>
</html>