<!doctype html>
<html lang="{{ bootstrap.locale|default(currentLang) }}" dir="{{ bootstrap.direction|default(_direction) }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ lang('install.title_page') }}</title>
    <link rel="icon" href="{{ assets('dist/images/logo-64.png') }}">
    {% include 'partials/scripts.twig' %}
</head>
<body class="{{ bootstrap.direction|default(_direction) }}">
<div id="app"></div>
</body>
</html>
